.results {
    display: grid;
    column-gap: 14px;
    row-gap: 14px;
    grid-template-columns: repeat(auto-fill, minmax(400px, 400px));
    margin-top: 50px;
    margin-bottom: 30px;
    justify-content: space-around;
  }

  @media (min-width: 500px) and (max-width: 768px) {
    .results {
        grid-template-columns: repeat(2, 1fr);
    }
  }
  
  @media (max-width: 499px) {
    .results {
        grid-template-columns: 1fr;
    }    
  }

  #search {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #search button {
    border-radius: 30px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    padding: 22px;
  }

  .searchbarcontainer {
    display: flex;
    padding: 10px;
    background-color: var(--mat-tree-container-background-color);
    border-radius: 30px;
    max-width: 80vw;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
  }
  .searchbarcontainer input {
    margin-left: 15px;
    color: var(--mat-toolbar-container-text-color);
    background: none;
    border: none;
    min-width: 30vw;
  }
  .searchbarcontainer input:focus {
    outline: none;
  }