<section>
    <form id="search">
        <label for="searchbar" class="searchbarcontainer">
            <mat-icon fontIcon="search"></mat-icon>
            <input id="searchbar" type="text" placeholder="Procurar por locais" #filter
                (keydown)="handleEnter($event, filter.value)">
        </label>
        <button color="accent" mat-flat-button type="button" (click)="filterResults(filter.value)">Buscar</button>
    </form>
</section>
<section class="results">
    <app-housing-location *ngFor="let housing of filteredLocationList"
        [housingLocation]="housing"></app-housing-location>
</section>